@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins&display=swap');
html{
  background-color: aliceblue;
  text-align: center;
}
body{
  min-height: 100vh;
}
header{
  font-family: "Dancing Script", cursive;
  font-size: 1.17em;
}
#description{
  font-family: "Marck Script", cursive;
  font-size: 1.5em;
}
#output{
  font-family: "Tangerine", cursive;
  text-align: center;
  font-size: 50pt;
  color: #00134d;
}
button{
  color: red;
  background-color: white;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  border: 1px solid darkslategrey;
}
button:hover{
  background-color: azure;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover{
  color: red;
}