@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins&display=swap');
html{
  background-color: aliceblue;
  text-align: center;
}
body{
  min-height: 100vh;
}
header{
  font-family: "Dancing Script", cursive;
  font-size: 1.17em;
}
#description{
  font-family: "Marck Script", cursive;
  font-size: 1.5em;
}